파이썬 무료 강의 (기본편) - 6시간 뒤면 나도 개발자/travel/__pycache__/__init__.cpython-312.pyc
파이썬 무료 강의 (기본편) - 6시간 뒤면 나도 개발자/travel/__pycache__/thailand.cpython-312.pyc
파이썬 무료 강의 (기본편) - 6시간 뒤면 나도 개발자/travel/__pycache__/
/practice_pytest/tests/__pycache__
/practice_pytest/__pycache__
/practice_pytest2/__pycache__
/practice_pytest2/tests/__pycache__
/practice_pytest2/elements/__pycache__

user_data.py
/node_modules
/practice_POM/src/pages/__pycache__
/practice_POM/src/utils/__pycache__
/practice_POM/tests/__pycache__
/practice_POM/src/resource/__pycache__
/change_JIRA_TC_to_Prompt/__pycache__
/change_JIRA_TC_to_Prompt/prompts
/change_spreadsheet_TC_to_Prompt/__pycache__
/change_spreadsheet_TC_to_Prompt/prompts
change_spreadsheet_TC_to_Prompt/credentials.json
.env
